<% if(!contact._id) { %>
    <section class="button-test-container">
        <button type="button" name="1" class="btn btn-primary test-button" style="margin-top: 15px;">Test 1</button>
        <button type="button" name="2" class="btn btn-primary test-button" style="margin-top: 15px;">Test 2</button>
        <button type="button" name="3" class="btn btn-primary test-button" style="margin-top: 15px;">Test 3</button>
        <button type="button" name="4" class="btn btn-primary test-button" style="margin-top: 15px;">Test 4</button>
        <button type="button" name="5" class="btn btn-primary test-button" style="margin-top: 15px;">Test 5</button>
    </section>
<% } %>