<%- include('includes/head') %>
<%- include('includes/nav') %>

<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>


        <div class="col-lg-8 my-3">
            <h1 class="text-center">Phone Book</h1>
            <p class="text-center lead">Your contacts are here</p>

            <div class="row">
                <div class="col my-3">
                    <div class="alert alert-danger">Some error message</div>
                </div>
            </div>

            <div class="responsive-table">
                <table class="table my-3">
                    <tr>
                        <td>Amanda</td>
                        <td>Garcia</td>
                        <td>12312312312</td>
                        <td>amanda_garcia@gmail.com</td>
                    </tr>
                </table>

            </div>

        </div>


        <div class="col-lg-2"></div>
    </div>
</div>

<%- include('includes/footer') %>

